<mat-form-field
  class="full-width"
  appearance="fill"
  [formGroup]="parentFormGroup"
>
  <mat-label>{{ options.title }}</mat-label>
  <input
    matInput
    placeholder="{{ options.title }}"
    [formControlName]="controlName"
  >
</mat-form-field>

<mat-error
  *ngFor="let validation of options.validation"
  class="margin"
>
  <mat-error
    class="error-message"
    *ngIf="parentFormGroup.get(controlName)?.hasError(validation.type) && (parentFormGroup.get(controlName)?.dirty || parentFormGroup.get(controlName)?.touched)"
  >
    {{ validation.message }}
  </mat-error>
</mat-error>